@import "tailwindcss";

@theme {
  --color-background: #0A0A0A;
  --color-alert: #F8684F;
  
  --font-barlow: var(--font-barlow);
  --font-tungsten: var(--font-tungsten);

  --max-width-hd: 1920px;
}

.clip-polygon::after {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}